body {
    margin: 0;
    background-color: black;
    font-family: monospace;
}

.header {
    border-bottom: 3px solid aquamarine;
    background-color: rgb(1, 1, 29);
    display: flex;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-around;
}

.title {
    color: aquamarine;
    width: fit-content;
}

.navbar {
    list-style: none;
    color: rgb(235, 160, 117);
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 0;
    align-items: center;
    font-size: 18px;
}

.destaque {
    color: aquamarine;
}

/* Fim do Cabeçalho 
Começo do Banner*/

.banner{
    display: flex;
    background-image: url("imgs/bg-jelly-fish-para-home.png");
    height: 500px;
    color: #ffffff; 
}

.banner .container {
    justify-content: center;
    width: 10%;
    font-size: 25px;
}

#bannertxt {
    font-size: larger;

}

.banner .container p span {
    font-weight: bolder;
}

/* Fim do Banner
Começo do Social*/

.social {
    background-color: azure;
    display: flex;
}

.social .caixa {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.social .caixa .box {
    width: 20%;
}

.social .caixa .box img{
    height: 200px;
}